<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../favicon.png" type="image/x-icon">
    <title>Forum Wartegg - Führung in der Bildung</title>
</head>
<body>
    <div class="calendar-container">
        <img src="../assets/images/calendario.gif" alt="Kalender" class="calendar">
        <a href="../index.html">Home</a>
    </div>
    <div class="text-field-title">
        <h1 class="anmeldung">Anmelden</h1>
    </div>
    <div class="text-field-form">
        <form action="./formular.html" method="get" id="formular">
            <label for="forname">Forname</label>
            <input type="text" id="forname" name="forname">
            <label for="nachname">Nachname</label>
            <input type="text" id="nachname" name="nachname">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="rep_email">Email wiederholen</label>
            <input type="text" id="rep_email" name="rep_email">
            <label for="firma">Firma</label>
            <input type="text" id="firma" name="firma">
            <div id="btn_form">
                <button type="submit" id="btn_senden">Senden</button>
                <button type="reset" id="btn_reset">Reset</button>
            </div>
        </form>
    </div>    
</body>
</html>